@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Category</h1>
    <br />
    <p>Cvičení na CRUD operations.</p>
    <p>Tutorial freeCodeCamp.org @*<a href="https://www.youtube.com/watch?v=Pi46L7UYP8I">*@ASP.NET Core MVC Course@*</a>*@ (.NET 5).</p>
</div>
